<template>
    <div class="adminpanel card panel" style="margin:0%">
        <h1 class="card panel green darken-2 white-text" style="margin-top: 5%;padding:5%"><b>ADMIN PANEL</b></h1>
        <h2 class="card panel grey darken-4 white-text" style="padding: 3%;margin: 0px">Welcome, <b>{{currentUser}}</b></h2>
        <div id="navcol" class="card panel" style="margin-top: 3%; padding: 3%">
            <h4 class="badge"><b>Change Navbar Color</b> <i class="material-icons">branding_watermark</i></h4>
            <input style="width:300px;height:50px" type="color" id="colour_picker">
            <button style="float:right" class="btn red" @change="changeNavColor()">Save Changes</button>
        </div>
    </div>
</template>

<script>
import firebase from 'firebase';
export default {
    name: 'adminpanel',
    data() {
        return {
            email: '',
            password: '',
            newPassword: null,
            currentUser: null,
            show: false
        };
    },
    methods: {
        changeNavColor(){
            var hours = 24; // Reset when storage is more than 24hours
            var now = new Date().getTime();
            var setupTime = localStorage.getItem('setupTime');
            if (setupTime == null) {
                localStorage.setItem('setupTime', now)
            } else {
                if(now-setupTime > hours*60*60*1000) {
                    localStorage.clear()
                    localStorage.setItem('setupTime', now);
                }
            }  


            $(document).ready(function () {
            var background_colour = localStorage.getItem("background_color");
            $('nav').css("background-color", background_colour);
            $('#colour_picker').submit(function () {
                var background_colour = $(this).val();
                $('nav').css("background-color", background_colour);
                localStorage.setItem("background_color", background_colour);
            });
            });
        }
    },
    created() {
        if (firebase.auth().currentUser) {
            this.isLoggedIn = true;
            this.currentUser = firebase.auth().currentUser.email;
        }
    },
    updateEmail () {
        this.currentUser.email.updateEmail(this.currentUser.email)
    },
    updatePassword () {
        this.currentUser.password.updatePassword(this.currentUser.newPassword)
          .then(() => { this.newPassword = null })
          .catch(error => alert('🤕' + error.message))
    }
}
</script>

<style scoped>
    .card {
        margin: 0px;
    }
</style>

