<template>
    <div id="dashboard">
        <h3>Products</h3>
         <ul class="collection">
            <li v-for="product in products" v-bind:key="product.id" class="collection-item avatar">
                <!-- image -->
            <img :src="product.image" alt="product_image" class="circle" style="object-fit:cover">
            <span class="title"> <b>{{product.name}}</b></span>
            <p style="max-width:100vH">{{product.description}}</p>
            <router-link class="right btn blue accent-5" v-bind:to="{ name: 'edit-product', params: { product_id: product.product_id }}"><i class="fa fa-pencil fa-2x"></i> Edit</router-link>
            <router-link class="right btn red accent-5" v-bind:to="{ name: 'view-product', params: { product_id: product.product_id }}"><i class="fa fa-eye fa-2x"></i> View</router-link>
                <div style="height:25px">
                    <span style="margin:0px;margin-top:6px" class="left new badge red" data-badge-caption=" $">{{product.price}}</span>
                </div>
            </li>
        </ul>
        <div class="fixed-action-btn">
            <router-link to="/new" class="btn-floating btn-large waves-effect waves-light red">
                <i class="fa fa-plus"></i>
            </router-link>
        </div>
        <div class="button">
          <router-link to="/" class="btn-large waves-effect waves-light grey">
                <i class="fa fa-arrow-circle-left"></i> Web Page
            </router-link>
        </div>
    </div>
</template>

<script>
import db from './firebaseInit'
  export default {
    name: 'dashboard',
    data () {
      return {
        products: [],
        loading: true
      }
    },
    created () {
      db.collection('product').orderBy('product_id').get().then((querySnapshot) => {
        this.loading = false
        querySnapshot.forEach((doc) => {
          const data = {
            'id': doc.id,
            'product_id': doc.data().product_id,
            'name': doc.data().name,
            'description': doc.data().description,
            'category': doc.data().category,
            'price': doc.data().price,
            'image' : doc.data().image
          }
          this.products.push(data)
        })
      })
    }
  }
</script>