<template>
    <div id="edit-product">
    <h3>Edit Product</h3>
    <div class="row">
    <form @submit.prevent="updateProduct" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <label class="green-text active" for="product_id">ID</label>
          <input disabled type="text" v-model="product_id" required>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label class="green-text active" maxlength="22" for="name">Name</label>
          <input type="text" v-model="name" required>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label class="green-text active" for="description">Description</label>
          <textarea style="height: 150px" class="materialize-textarea" type="text" v-model="description" required></textarea>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label class="green-text active" for="name">Category</label>
          <input type="text" v-model="category" required>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <div id="preview">
            <img style="margin-top:30px" width="150px" v-if="image" :src="image" />
          </div>
          <label class="green-text" >Image</label>
          <input type="file" @change="uploadImage" class="form-control" >
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label class="green-text active" for="price">Price ($)</label>
          <input type="text" v-model="price" required>
        </div>
      </div>
      <!-- <div class="row">
        <div class="input-field col s12">
          <p>
            <label>
              <input class="with-gap" name="group1" type="radio" v-model="status" v-bind:value="true"/>
              <span>Active</span>
            </label>
            <label style="margin-left:15px">
              <input class="with-gap" name="group1" type="radio" v-model="status" v-bind:value="false"/>
              <span>Inactive</span>
            </label>
          </p>
        </div>
      </div> -->
      <button type="submit" class="btn green"><i class="fa fa-check"></i> Submit</button>
      <router-link to="/dashboard" class="btn red"><i class="fa fa-times"></i> Cancel</router-link>
    </form>
  </div>
  </div>
</template>

<script>
import db from './firebaseInit'
import fb from 'firebase'
  export default {
    name: 'edit-product',
    data () {
      return {
        product_id: null,
        name: null,
        description: null,
        category: null,
        price: null,
        image: null
        // status: false
      }
    },
    beforeRouteEnter (to, from, next) {
      db.collection('product').where('product_id', '==', to.params.product_id).get().then((querySnapshot) => {
        querySnapshot.forEach((doc) => {
          next(vm => {
            vm.product_id = doc.data().product_id
            vm.name = doc.data().name
            vm.description = doc.data().description
            vm.category = doc.data().category
            vm.price = doc.data().price,
            vm.image = doc.data().image
            // vm.status = doc.data().status
          })
        })
      })
    },
    watch: {
      '$route': 'fetchData'
    },
    methods: {
      uploadImage(e){
            let file = e.target.files[0];
            var storageRef = fb.storage().ref('products/'+ file.name);
            let uploadTask  = storageRef.put(file);
      
            uploadTask.on('state_changed', (snapshot) => {
            }, (error) => {
              // Handle unsuccessful uploads
              console.log("Image can't be uploaded!")
            }, () => {
              // Handle successful uploads on complete
              uploadTask.snapshot.ref.getDownloadURL().then((downloadURL) => {
                this.image = downloadURL;
              });
            });
      },
      fetchData () {
        db.collection('product').where('product_id', '==', this.$route.params.product_id).get().then((querySnapshot) => {
          querySnapshot.forEach((doc) => {
            this.product_id = doc.data().product_id
            this.name = doc.data().name
            this.description = doc.data().description
            this.category = doc.data().category
            this.price = doc.data().price
            this.image = doc.data().image
            // this.status = doc.data().status
          })
        })
      },
      updateProduct () {
        db.collection('product').where('product_id', '==', this.$route.params.product_id).get().then((querySnapshot) => {
          querySnapshot.forEach((doc) => {
            doc.ref.update({
              product_id: this.product_id,
              name: this.name,
              description: this.description,
              category: this.category,
              price: this.price,
              image: this.image
              // status: this.status
            })
            .then(() => {
              this.$router.push({ name: 'view-product', params: { product_id: this.product_id }})
            });
          })
        })
      }
    }
  }
</script>