<template>
  <div>
    <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2" style="margin-top: 10vH">
        <div class="login card-panel green white-text center">
            <i class="fa fa-user-circle fa-5x"></i>
            <h3><b>Login</b></h3>
            <form action="index.html">
                <div class="input-field">
                    <i class="material-icons prefix">email</i>
                    <input type="email" id="email" v-model="email">
                    <label class="white-text" for="email">Email Address</label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">lock</i>
                    <input type="password" id="password" v-model="password">
                    <label class="white-text" for="password">Password</label>
                </div>
                <button v-on:click="login" class="btn btn-large btn-extended grey lighten-4 black-text"><b>Login</b></button>
            </form>
        </div>
    </div>
    </div>
  </div>
  </div>
</template>

<script>
import firebase from 'firebase';
export default {
  name: 'login',
  data: function() {
    return {
      email: '',
      password: ''
    };
  },
  methods: {
    login: function(e) {
      firebase
        .auth()
        .signInWithEmailAndPassword(this.email, this.password)
        .then(
          user => {
            this.$router.go({ path: this.$router.path });
          },
          err => {
            alert(err.message);
          }
        );
      e.preventDefault();
    }
  }
};
</script>

<style>
    .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #fff;;
     box-shadow: 0 1px 0 0 #fff;;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;;
     box-shadow: 0 1px 0 0 #000;;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;;
     box-shadow: 0 1px 0 0 #000;;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #fff;
   }
</style>
