<template>
    <nav>
        <div class="nav-wrapper">
            <div class="container">
                <router-link to="/" class="brand-logo center"><img width="160" src="https://i.imgur.com/xnIF1Dn.png" alt=""></router-link>
                <router-link to="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></router-link>
                <ul class="left hide-on-med-and-down">
                    <li v-if="isLoggedIn"><span class="btn email black-text light-green lighten-5"><router-link class="black-text" to="/adminpanel">Logged in as: <b>{{currentUser}}</b></router-link></span></li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li v-if="isLoggedIn" ><router-link to="/dashboard"><button class="btn email white-text green darken-2">Dashboard</button></router-link></li>
                    <li v-if="!isLoggedIn"><router-link to="/login">Login</router-link></li>
                    <li v-if="!isLoggedIn"><router-link to="/register">Register</router-link></li>
                    <li v-if="isLoggedIn"><button v-on:click="logout" class="btn grey darken-4">Logout</button></li>
                </ul>
                <ul class="sidenav" id="mobile-demo">
                    <li v-if="isLoggedIn" class="white"><router-link to="/adminpanel">Admin Panel</router-link></li>
                    <li v-if="isLoggedIn" class="white"><router-link to="/dashboard">Dashboard</router-link></li>
                    <li v-if="!isLoggedIn"><router-link to="/login">Login</router-link></li>
                    <li v-if="!isLoggedIn"><router-link to="/register">Register</router-link></li>
                    <li class="divider"><a href="#" class="divider"></a></li>
                    <li v-if="isLoggedIn"><button v-on:click="logout" class="btn grey darken-2" style="margin: 5%">Logout</button></li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
import firebase from 'firebase';
export default {
  name: 'navbar',
  data() {
    return {
      isLoggedIn: false,
      currentUser: false
    };
  },
  created() {
    if (firebase.auth().currentUser) {
      this.isLoggedIn = true;
      this.currentUser = firebase.auth().currentUser.email;
    }
  },
  methods: {
    logout: function() {
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$router.go({ path: this.$router.path });
        });
    }
  }
};
</script>

<style >
  nav {
    background-color: #4caf50;
  }
  .email {
    padding-right: 10px;
  }
</style>
