<template>
    <div id="new-product">
    <h3>New Product</h3>
    <div class="row">
    <form @submit.prevent="saveProduct" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input type="text" v-model="product_id" required>
          <label class="green-text">Product ID#</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="text" maxlength="22" v-model="name" required>
          <label class="green-text">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea style="height: 150px" class="materialize-textarea" type="text" v-model="description" required></textarea>
          <label class="green-text">Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="text" v-model="category" required>
          <label class="green-text">Category</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="number" step="any" v-model="price" required>
          <label class="green-text">Price ($)</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <div id="preview">
            <img style="margin-top:30px" width="150px" v-if="image" :src="image" />
          </div>
          <label class="green-text">Image</label>
          <input type="file" @change="uploadImage" accept="image/*" class="form-control" style="margin-top:50px">
        </div>
      </div>
      <!-- <div class="row">
        <div class="input-field col s12">
          <p>
            <label>
              <input class="with-gap" name="group1" type="radio" v-model="status" value="true"/>
              <span>Active</span>
            </label>
            <label style="margin-left:15px">
              <input class="with-gap" name="group1" type="radio" v-model="status" value="false"/>
              <span>Inactive</span>
            </label>
          </p>
        </div>
      </div> -->
      <button type="submit" class="btn">Submit</button>
      <router-link to="/" class="btn grey">Cancel</router-link>
    </form>
  </div>
  </div>
</template>

<script>
import db from './firebaseInit'
import fb from 'firebase'
    export default {
      name: 'new-product',
      data () {
        return {
          product_id: null,
          name: null,
          description: null,
          category: null,
          price: null,
          image: null,
          // status: false
        }
      },
      methods: {
        uploadImage(e){
            let file = e.target.files[0];
            var storageRef = fb.storage().ref('products/'+ file.name);
            let uploadTask  = storageRef.put(file);
      
            uploadTask.on('state_changed', (snapshot) => {
            }, (error) => {
              // Handle unsuccessful uploads
              console.log("Image can't be uploaded!")
            }, () => {
              // Handle successful uploads on complete
              uploadTask.snapshot.ref.getDownloadURL().then((downloadURL) => {
                this.image = downloadURL;
              });
            });
        },
        saveProduct () {
          db.collection('product').add({
            product_id: this.product_id,
            name: this.name,
            description: this.description,
            category: this.category,
            price: this.price,
            image: this.image,
            // status: this.status
          })
          .then(docRef => {
            console.log('Product added: ', docRef.id)
            this.$router.push('/dashboard')
          })
          .catch(error => {
            console.error('Error adding product: ', error)
          })
        }
      }
    }
</script>