<template>
    <div class="site">
        <div v-cloak style="max-width:300px;margin: 20px" class="card left" v-for="product in products" v-bind:key="product.id">
          <!-- <div v-if="product.status"> -->
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" :src="product.image">
                </div>
            <div class="card-content">
                <p class="red-text ">{{product.category}}</p>
                <span class="card-title activator grey-text text-darken-4">{{product.name}}<i class="material-icons right">more_vert</i></span>
                <p><a href="#">Add to cart</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{product.name}}<i class="material-icons right">close</i></span>
                <p>{{product.description}}</p>
            </div>
          <!-- </div> -->
        </div>
    </div>
</template>

<script>
import db from './firebaseInit'
  export default {
    name: 'site',
    data () {
      return {
        products: [],
        loading: true
      }
    },
    mounted () {
      db.collection('product').orderBy('product_id').get().then((querySnapshot) => {
        this.loading = false
        querySnapshot.forEach((doc) => {
          const data = {
            'id': doc.id,
            'product_id': doc.data().product_id,
            'name': doc.data().name,
            'description': doc.data().description,
            'category': doc.data().category,
            'price': doc.data().price,
            'image' : doc.data().image
            // 'status' : doc.data().status
          }
          this.products.push(data)
        })
      })
    }
  }
</script>

<style scoped>
    @import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);

    *, *:before, *:after {
    box-sizing: border-box;
    }
    body {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/blurred_bg2.jpg') no-repeat center center fixed;
    background-size: cover;
    }
    .product-box {
    font: 13px/23px "Raleway", Arial, sans-serif;
    color: #303336;
    padding: 40px 0;
    }
    .container {
    margin: 0 auto;
    width: 300px;
    height: 465px;
    background: white;
    border-radius: 3px;
    position: relative;
    }
    .price {
    position: absolute;
    top: 180px;
    left: 35%;
    color: white;
    text-align: center;
    background: rgba(0, 153, 285, 0.8);
    border-radius: 50%;
    padding: 19px 33px;
    font-size: 22px;
    }
    .price div {
    margin-top: 5px;
    font-weight: bold;
    }
    .information {
    text-align: center;
    margin-top: 18px;
    }
    .name {
    font-size: 22px;
    }
    .store {
    font-size: 16px;
    color: #8c98a8;
    margin-bottom: 28px;
    }
    .button {
    text-decoration: none;
    background: #49b956;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 54px;
    border-radius: 5px;
    }
    .button:hover {
    background: #60cf6f;
    }
</style>
