<template>
    <div id="view-product">
    <ul class="collection with-header">
      <li class="collection-header"><h4>{{name}}</h4></li>
      <img width="200" :src="image" alt="">
      <li class="collection-item"><b>Category:</b> {{category}}</li>
      <li class="collection-item"><b>Product ID:</b> {{product_id}}</li>
      <li class="collection-item"><b>Description:</b> {{description}}</li>
      <li class="collection-item"><b>Price:</b> {{price}} $</li>
    </ul>
    <router-link to="/dashboard" class="btn blue"><i class="fa fa-arrow-circle-left"></i> Go back</router-link>
    <router-link v-bind:to="{ name: 'edit-product', params: { product_id: product_id }}" class="btn green">
        <i class="fa fa-pencil"></i> Edit
    </router-link>
    <button @click="deleteProduct" class="btn red"><i class="fa fa-trash"></i> Delete</button>
  </div>
</template>

<script>
import db from './firebaseInit'
  export default {
    name: 'view-product',
    data () {
      return {
        product_id: null,
        name: null,
        description: null,
        category: null,
        price: null,
        image: null
      }
    },
    beforeRouteEnter (to, from, next) {
      db.collection('product').where('product_id', '==', to.params.product_id).get().then((querySnapshot) => {
        querySnapshot.forEach((doc) => {
          next(vm => {
            vm.product_id = doc.data().product_id
            vm.name = doc.data().name
            vm.description = doc.data().description
            vm.category = doc.data().category
            vm.price = doc.data().price
            vm.image = doc.data().image
          })
        })
      })
    },
    watch: {
      '$route': 'fetchData'
    },
    methods: {
      fetchData () {
        db.collection('product').where('product_id', '==', this.$route.params.product_id).get().then((querySnapshot) => {
          querySnapshot.forEach((doc) => {
            this.product_id = doc.data().product_id
            this.name = doc.data().name
            this.description = doc.data().description
            this.category = doc.data().category
            this.price = doc.data().price
            this.image = doc.data().image
          })
        })
      },
      deleteProduct () {
        if(confirm ('Are you sure?')) {
          db.collection('product').where('product_id', '==', this.$route.params.product_id).get().then((querySnapshot) => {
            querySnapshot.forEach((doc) => {
              doc.ref.delete();
              this.$router.push('/')
            })
          })
        }
      }
    }
  }
</script>