<template>
  <div id="app">
    <!-- layout components -->
    <Navbar/>
    <div class="container">
      <router-view/>
    </div>
  </div>
</template>


<script>
import Navbar from './components/Navbar.vue'
import NewProduct from './components/NewProduct';
export default {
  name: 'App',
  components: {
    Navbar,
    NewProduct
  },
  created() {
    $(document).ready(function(){
              $('.sidenav').sidenav();
    });
    
    $(document).ready(function () {
            var hours = 24; // Reset when storage is more than 24hours
            var now = new Date().getTime();
            var setupTime = localStorage.getItem('setupTime');
            if (setupTime == null) {
                localStorage.setItem('setupTime', now)
            } else {
                if(now-setupTime > hours*60*60*1000) {
                    localStorage.clear()
                    localStorage.setItem('setupTime', now);
                }
            }  

            var background_colour = localStorage.getItem("background_color");
            $('nav').css("background-color", background_colour);
            $('#colour_picker').change(function () {
                var background_colour = $(this).val();
                $('nav').css("background-color", background_colour);
                localStorage.setItem("background_color", background_colour);
            });
            });
  }
}
</script>
